<link rel="stylesheet" href="/css/footer.css">
<footer>
    <div class="about">
      <h1><span class="logo-text">Novotek </span> <span>Blog</span></h1>
      <p>
        Our goal is to create a space where readers can explore a variety of topics, learn something 
        new, and enjoy engaging content. Readers can also create their post and comment on posts if they liked it.
      </p>
      <!-- Contacts -->
      <div class="contact">
        <span>
          <i class="fas fa-phone"></i>
          +91 9856247516
        </span>
        <span>
          <i class="fas fa-envelope"></i>
          
          <a href="#">
            support@gmail.com
          </a>
        </span>

      </div>
      <!-- socials -->
      <div class="socials">
        <a href="#">
          <i class="fab fa-youtube"></i>
        </a>
        <a href="#">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="#">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#">
          <i class="fab fa-facebook"></i>
        </a>
       
  </footer>